.summer-sale {
  line-height: 1.3rem;
}

.shopnow {
  text-decoration: underline;
  line-height: 1.5rem;
  font-weight: 600;
}

.summer-sale-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
}

/* Remove .english and .english-parent styles as they're no longer needed */

.frame-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 2rem;
}

.top-header {
  background-color: var(--primary-color);
  height: 3rem;
  color: #f0f0f0;
  font-family: var(--font-poppins);
  width: 100%;
  display: flex;
  align-items: center;
}

#close-btn {
  display: none;
}

#close-btn:checked ~ .top-header,
#close-btn:checked ~ #close-btn-label {
  display: none;
}

#ad-header {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
}

#close-btn-label {
  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#close-btn-x {
  cursor: pointer;
}