body {
  margin: 0;
  line-height: normal;
}

:root {
  font-family: var(--font-inter), var(--font-poppins), var(--font-smooch-sans);
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-smooch-sans: "Smooch Sans";
}

.login-main {
  display: flex;
  gap: 10vw;
  height: 64vh;
  min-height: 500px;
  justify-content: center;
  margin: 10vh 0;
  align-items: flex-start;
}

.account-page {
  margin-bottom: 10vh;
}

.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.credential-form {
  display: flex;
  flex-direction: row;
}

#welcome {
  font-family: var(--font-smooch-sans);
  font-size: 7.5rem;
  margin-bottom: -28px;
}

#caption {
  font-family: var(--font-poppins);
}

#sign-in,
#privacy-link,
#terms-link {
  font-size: 1rem;
  font-weight: 600;
  color: #d8602b;
}

.sign-up-wp {
  position: relative;
  top: 64px;
}

.glogin {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 90%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
}

.next-button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.remember-and-forgot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
a {
  all: unset;
  width: 100%;
}

input[type="submit"] {
  display: none;
}

input[type="checkbox"],
a {
  color: #d8602b;
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border: 2px solid #888;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: #d8602b;
  border-color: #d8602b;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#terms {
  display: flex;
  align-items: center;
  gap: 8px;
}

#others-form {
  margin-top: 1rem;
}

.account-credential {
  margin: 0.5rem 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credential-form {
  background-color: #f2f2f2;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

#show-login:checked ~ .account-form .login,
#show-register:checked ~ .account-form .register {
  opacity: 1;
  pointer-events: auto;
  position: relative;
}

#show-login:checked ~ .account-form .register,
#show-register:checked ~ .account-form .login {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.login,
.register {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

#show-login,
#show-register {
  display: none;
}

#login-register-changer,
#login-register-changer label {
  width: 95%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

#login-register-changer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1rem;
}

#login-register-changer label {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

#show-login:checked
  ~ .account-form
  #login-register-changer
  label[for="show-login"],
#show-register:checked
  ~ .account-form
  #login-register-changer
  label[for="show-register"] {
  border-color: black;
}

#remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
}

#forgot-password {
  font-weight: bold;
}

/* Homepage */

.search input {
  border: unset;
  outline: unset;
  background-color: unset;
  width: 100%;
}

.email label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 1.5rem;
}

.frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-text {
  position: relative;
  line-height: 1.125rem;
  opacity: 0.5;
}

.search-icon {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}

.search {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.search-input {
  border-radius: 4px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.75rem;
  min-width: 240px;
  font-family: var(--font-poppins);
  justify-content: space-between;
}

.wishlist-icon {
  width: 2rem;
  position: relative;
  height: 2rem;
  overflow: hidden;
  flex-shrink: 0;
}

.cart-icon {
  width: 2rem;
  position: relative;
  height: 2rem;
}

.frame1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.generic-avatar-icon {
  width: 2.5rem;
  position: relative;
  border-radius: 100px;
  height: 2.5rem;
  overflow: hidden;
  flex-shrink: 0;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.logo {
  font-size: 1.5rem;
  letter-spacing: 0.03em;
  font-family: var(--font-poppins);
}

header {
  height: 2.5rem;
  font-size: 1.25rem;
  font-family: var(--font-inter);
  padding: 1rem 2rem 1rem 2rem;
  border-bottom: 1px solid #d6d6d6;
}

.support {
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: inline-block;
  width: 5.338rem;
}

.subscribe {
  font-size: 1.125rem;
  line-height: 1.5rem;
  display: inline-block;
  width: 10.188rem;
}

.get-10-your {
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
  width: 10.813rem;
}

.div {
  line-height: 1.5rem;
  font-weight: 300;
  display: inline-block;
  width: 10.813rem;
}

.sigmaskibidigmailcom {
  text-decoration: underline;
  line-height: 1.5rem;
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 12rem;
}

.fanum-v-blok {
  line-height: 1rem;
  font-weight: 300;
  display: inline-block;
  width: 10.813rem;
}

.my-account {
  line-height: 1rem;
  font-weight: 300;
  display: inline-block;
  width: 10.813rem;
}

.email {
  display: flex;
}

.login-register {
  line-height: 1rem;
  font-weight: 300;
  display: inline-block;
  width: 10.813rem;
}

.cart {
  line-height: 1rem;
  font-weight: 300;
  display: inline-block;
  width: 10.813rem;
}

.wishlist {
  line-height: 1rem;
  font-weight: 300;
  display: inline-block;
  width: 10.813rem;
}

.privacy-policy {
  line-height: 1rem;
  font-weight: 300;
  display: inline-block;
  width: 10.813rem;
}

.terms-of-use {
  line-height: 1rem;
  font-weight: 300;
  display: inline-block;
  width: 10.813rem;
}

.faq {
  line-height: 1rem;
  font-weight: 300;
  display: inline-block;
  width: 10.813rem;
}

.contact {
  line-height: 1rem;
  font-weight: 300;
  display: inline-block;
  width: 10.813rem;
}

.shop {
  line-height: 1rem;
  font-weight: 300;
  display: inline-block;
  width: 10.813rem;
}

.account {
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: inline-block;
  width: 5.6rem;
}

.quick-link {
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: inline-block;
  width: 6.538rem;
}

.download-app {
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: inline-block;
  width: 9.8rem;
}

.logo-parent {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
}

.vector-icon {
  height: 33.49%;
  width: 11.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.email-footer {
  border: 2px solid #edecec;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.75rem;
  font-family: var(--font-poppins);
  justify-content: space-between;
}

.save-rp9999-with {
  position: relative;
  line-height: 1.125rem;
  font-weight: 500;
  opacity: 0.7;
}

.qr-code-icon {
  width: 5rem;
  position: relative;
  height: 5rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.googleplay-icon {
  position: relative;
  height: 2.5rem;
  overflow: hidden;
  flex-shrink: 0;
}

.appstore-icon {
  position: relative;
  height: 2.5rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.store-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}

.qr-code-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.save-rp9999-with-app-new-user-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  color: #fafafa;
}

.social-media {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}

.social-media-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

header a {
  color: #000;
  width: auto;
}

footer {
  background-color: #000;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover,
header a:hover {
  color: #d8602b;
  text-decoration: underline;
}

.footer {
  font-size: 0.75rem;
  color: #fff;
  font-family: var(--font-poppins);
  padding: 5vh 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.copyright-team-3 {
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  color: #c7c7c7;
  padding-bottom: 0.5rem;
}
